<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Szybkie fiszki</title>
    <link href="css/style.min.css" rel="stylesheet" />
    
</head>
<body ng-app="cartsApp"  ng-controller="cartsCtrl">
    <div class="loader" ng-class="{hidden: loader}"></div>
    <div class="wrapper">
        <h1>Szybkie fiszki</h1>
        <div class="flip-wrapper" >
            <div class="flip-container" 
               ng-repeat="cart in carts" 
               data-id="{{cart.id}}" 
               ng-class="{active: cart.active, hover: cart.hover} " 
               ng-click="toggleHover($index)">
                <div class="flipper">
                    <div class="front">
                        <div class="flip__content">
                            <p>{{cart.question}}</p>
                        </div>
                    </div>
                    <div class="back">
                        <div class="flip__content">
                            <p>{{cart.answer}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flip-list">
            <div class="nav">
                <a class="prev" ng-click="changeCart(currentCart-1)"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                <span>{{currentCart+1}}</span>
                <a class="next" ng-click="changeCart(currentCart+1)"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
            <div class="dots" >
                <a 
                    ng-repeat="cart in carts" 
                    data-id={{cart.id}} 
                    ng-class="{active: cart.active}"
                    ng-click="changeCart($index)"
                    ></a>
            </div>
        </div>
    </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
  <script src="https://use.fontawesome.com/32ec63541b.js"></script>
  <script src="js/scripts.js"></script>
</body>
</html>