<div class="list" >
       <div class="wrapper list__inner">
       
        <table>
            <thead>
                <tr>
                    <th class="small">#</th>
                    <th>Pytanie</th>
                    <th>Odpowiedź</th>
                    <th class="small">Opcje</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="card in ctrl.cards">
                    <td class="small">{{$index}}</td>
                    <td><input ng-model="card.question" /></td>
                    <td><input ng-model="card.answer" /></td>
                    <td class="small">
                        <a ng-click="ctrl.removeCard($index)" class="danger">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                <tr class="new-card">
                    <td class="small">{{ctrl.cards.length}}</td>
                    <td><input ng-model="ctrl.question" /></td>
                    <td><input ng-model="ctrl.answer" /></td>
                    <td class="small">
                        <a ng-click="ctrl.addCard()" class="success">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>